[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rangeMapper"]
	path = rangeMapper
	url = https://github.com/mpio-be/rangemapper
	shallow = true
	registered = true
